.hero-div {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../assets/undraw_dreamer_gxxi.svg) no-repeat center center;
  min-height: 89vh;
  max-width: 100%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  /* background-color: rgb(240, 240, 240); */
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  font-size: 2.5rem;
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 5px;
  font-family: "Titilium Web", sans-serif;
}

.name-div {
  font-size: 1.8rem;
}

.typical-div {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* __________TABLET VIEW __________ */
@media only screen and (min-width: "768px") {
  .hero-div {
    margin-top: 20px;
  }
  .name-div {
    font-size: 2rem;
  }
    .typical-div {
    font-size: 3rem;
  }
}

/* __________DESKTOP VIEW__________ */
@media only screen and (min-width: "1024px") {
  .hero-div {
    margin-top: 20px;
  }
  .name-div {
    font-size: 3rem;
  }
  .typical-div {
    font-size: 3rem;
  }
}
