.logo-div{
  display: flex;
  align-items: center;
}

.dev-logo{
 max-width: 40px;
 margin: 0 5px 15px 0;
}

.aa-logo {
  font-size: "1rem";
}

.about-link,
.resume_link {
  color: black;
  text-decoration: underline;
  text-decoration-color: rgba(64, 98, 250, 0.795);
  -moz-text-decoration-color: rgb(250, 114, 64);
  text-decoration-thickness: 5px;
}

.about-link:hover,
.resume_link:hover {
  text-decoration: underline;
  text-decoration-color: rgba(250, 114, 64, 0.795);
  -moz-text-decoration-color: rgb(250, 114, 64);
  text-decoration-thickness: 5px;
}

/* __________TABLET VIEW___________ */
@media only screen and (min-width: "768px") {
  .header__btn {
    font-size: 5rem;
  }
}

/* __________DESKTOP VIEW___________ */
@media only screen and (min-width: "1024px") {
  .header-btn {
    font-size: 3rem;
  }
}
