.contact__sect {
    display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightgray; */
  padding: 1.5rem;
  border: none;
  border-radius: 10px;
  margin: 20px 50px;
  width: 70%;
}

.contact__img {
  width: 50%;
}

.contact__icons {
  flex-direction: column;
  font-size: 1.8rem;
  padding: 3px;
}

.icon_img:hover {
  color: rgb(0, 0, 255, 0.9);
}

/* ___________TABLET VIEW___________ */
@media only screen and (min-width: 768px) {
  .contact__sect {
    
  }

  .contact__img {
    
    
  }

  .contact__icons {
    font-size: 4.5rem;
    padding: 10px;
  }
}


/* ___________DESKTOP VIEW___________ */
@media only screen and (min-width: 1024px) {

    .contact__sect{
        width: 80%
    }

  .contact__img {
    max-width: 320px;
    margin-right: 2rem;
  }

  .contact__icons {
    font-size: 4rem;
    padding: 10px 40px;
    margin-left: 2rem
  }
}
